@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight-row {
    background-color: #e5e7eb; /* Choose your highlight color */
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}

select[disabled] {
    cursor: not-allowed;
}

input[disabled] {
    cursor: not-allowed;
    opacity: 0.9; /* Optionally reduce opacity to indicate disabled state */
}

.custom-tippy {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    white-space: nowrap;
}

#blah {
    max-width: 180px;
}

input[type="file"] {
    padding: 10px;
    background: #2d2d2d;
}
