@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight-row {
    background-color: #e5e7eb; /* Choose your highlight color */
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}
