@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight-row {
    background-color: #e5e7eb; /* Choose your highlight color */
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}

select[disabled] {
    cursor: not-allowed;
}

input[disabled] {
    cursor: not-allowed;
    opacity: 0.9; /* Optionally reduce opacity to indicate disabled state */
}

.custom-tippy {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    white-space: nowrap;
}

#blah {
    max-width: 180px;
}

input[type="file"] {
    padding: 10px;
    background: #2d2d2d;
}

.scrollable-dropdown {
    max-height: 200px; /* Adjust this height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.custom-select {
    /* Customize the appearance of the select dropdown */
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    color: #333;
}

.custom-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Limited customization for option elements */
.custom-option {
    background-color: #ffffff;
    color: #333333;
    padding: 8px;
}

/* More advanced styling for option elements in modern browsers */
.custom-select option {
    background-color: #ffffff;
    color: #333333;
    padding: 8px;
}

/* Hover effect for options (not supported in all browsers) */
.custom-select option:hover {
    background-color: #f0f0f0;
}

#my-time {
    font-size: 24px;
    font-weight: bold;
}


[x-cloak] {
    display: none;
}